<div class="container p-4"> 
  <div class="row justify-content-center">
    <h1>Agregar Nuevo Cliente</h1>
  </div>

  <div class="row justify-content-center mt-4">
    <div class="col-md-6">

      {{!-- Mostrar errores si existen --}}
      {{#if errors}}
        <div class="alert alert-danger">
          <ul>
            {{#each errors}}
              <li>{{this.msg}}</li>
            {{/each}}
          </ul>
        </div>
      {{/if}}

      {{!-- Formulario para agregar un nuevo cliente --}}
      <form method="POST" action="/clientes/new" id="alertFormSave">

        <div class="form-group">
          <label for="nombres">Nombres</label>
          <input type="text" class="form-control" id="nombres" name="nombres" placeholder="Ejemplo: Juan Carlos" value="" required autofocus>
        </div>

        <div class="form-group">
          <label for="apellidos">Apellidos</label>
          <input type="text" class="form-control" id="apellidos" name="apellidos" placeholder="Ejemplo: Pérez García" value="" required>
        </div>

        <div class="form-group">
          <label for="alias">Alias</label>
          <input type="text" class="form-control" id="alias" name="alias" placeholder="Ejemplo: FAMILIA PEREZ" value="" required>
        </div>

        <div class="form-group">
          <label for="telefono">Teléfono</label>
          <input type="text" class="form-control" id="telefono" name="telefono" placeholder="Ejemplo: 12345678" value="" required>
        </div>

        <div class="form-group">
          <label for="correo">Correo Electrónico</label>
          <input type="email" class="form-control" id="correo" name="correo" placeholder="Ejemplo: juan.perez@gmail.com" value="" required>
        </div>

        <div class="form-group">
          <label for="dui">DUI</label>
          <input type="text" class="form-control" id="dui" name="dui" placeholder="Ejemplo: 01234567-8" value="" required>
        </div>

        <div class="form-group row">
            <div class="col-6 pr-1">
              <button class="btn btn-success btn-block" type="submit">Agregar Cliente</button>
            </div>
            <div class="col-6 pl-1">
              <a href="/clientes" class="btn btn-secondary btn-block">Cancelar</a> <!-- Botón para cancelar -->
            </div>
        </div>

      </form>
    </div>
  </div>
</div>
