body{
  font-family: 'SF Pro Display', sans-serif;
}
  /* Toggle switch styles */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

#map {
  width: 100%;
  height: 350px;
}

.select2-container .select2-selection--single {
  width: 100%;
  height: auto !important;
}

/* Cambiar el color del texto de la ruta activa */
.nav-sidebar .nav-link.active-route p {
  color: #2196F3 !important; /* Dorado, por ejemplo */
}

/* Opcional: Cambiar el color del icono de la ruta activa */
.nav-sidebar .nav-link.active-route .nav-icon {
  color: #2196F3 !important;
}

/* Opcional: Añadir una transición suave al color */
.nav-sidebar .nav-link p {
  transition: color 0.3s;
}

.navbar-nav {
  display: flex;
  align-items: center; /* Alinear los elementos del navbar en el centro vertical */
}

.breadcrumb-item {
  color: #6c757d;
}

.breadcrumb-item.text-primary {
  color: #007bff;
}

.breadcrumb-separator {
  margin: 0 5px;
  color: #6c757d;
}

.breadcrumb-item.active {
  pointer-events: none;
  font-weight: bold;
}

.dataTables_processing {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  color: #333;
  z-index: 1000;
}
