<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
  <!-- Dashboard -->
  <li class="nav-header">DASHBOARD</li>
  <li class="nav-item">
    <a href="/" class="nav-link">
      <i class="nav-icon fas fa-chart-line"></i>
      <p>Inicio</p>
    </a>
  </li>

  <!-- Facturación -->
  <li class="nav-header">FACTURACIÓN</li>
  <li class="nav-item">
    <a href="/facturacion/generar" class="nav-link">
      <i class="nav-icon fas fa-file-invoice-dollar"></i>
      <p>Generar facturas</p>
    </a>
  </li>
  <li class="nav-item">
    <a href="/movimientos" class="nav-link">
      <i class="nav-icon fas fa-hand-holding-usd"></i>
      <p>Movimientos</p>
    </a>
  </li>
  <li class="nav-item">
    <a href="/facturacion/historial" class="nav-link">
      <i class="nav-icon far fa-clock"></i>
      <p>Historial de pagos</p>
    </a>
  </li>

  <!-- Contratos y Servicios -->
  <li class="nav-header">CONTRATOS Y SERVICIOS</li>
  <li class="nav-item">
    <a href="/servicios" class="nav-link">
      <i class="nav-icon fas fa-box-open"></i>
      <p>Servicios</p>
    </a>
  </li>
  <li class="nav-item">
    <a href="/contratos" class="nav-link">
      <i class="nav-icon fas fa-hands-helping"></i>
      <p>Contratos de clientes</p>
    </a>
  </li>

  <!-- Gestión de Clientes -->
  <li class="nav-header">GESTIÓN DE CLIENTES</li>
  <li class="nav-item">
    <a href="/clientes" class="nav-link">
      <i class="nav-icon fas fa-users"></i>
      <p>Clientes</p>
    </a>
  </li>
  <li class="nav-item">
    <a href="/clientes/cpe-asignados" class="nav-link">
      <i class="nav-icon fas fa-tv"></i>
      <p>CPE Asignados</p>
    </a>
  </li>

  <!-- Gestión de CPEs -->
  <li class="nav-header">GESTIÓN DE CPES</li>
  <li class="nav-item">
    <a href="/equipos" class="nav-link">
      <i class="nav-icon fas fa-satellite-dish"></i>
      <p>Equipos</p>
    </a>
  </li>
  <li class="nav-item">
    <a href="/configuraciones" class="nav-link">
      <i class="nav-icon fas fa-cog"></i>
      <p>Configuraciones</p>
    </a>
  </li>
</ul>
