<!-- views/partials/menu.hbs -->
<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

  {{#each modulos}}
    {{#if activo}}
      <li class="nav-header">{{toUpperCase nombre}}</li>
      {{#each rutas}}
          <li class="nav-item">
            <a href="{{ruta}}" class="nav-link">
              <i class="nav-icon {{icono}}"></i>
              <p>{{nombre}}</p>
            </a>
          </li>
      {{/each}}
    {{/if}}
  {{/each}}

</ul>
