<div class="error-page">
  <h2 class="headline text-danger text-bold" style="font-weight: 600; letter-spacing: 10px;">500</h2>
  <div class="error-content">
    <h3><i class="fas fa-server text-danger"></i> Oops! Algo salió mal en nuestro servidor.</h3>
    <p>
      Estamos trabajando para solucionarlo. Por favor, intenta más tarde.
      Mientras tanto, puedes <a href="/login">volver al inicio</a>.
    </p>
  </div>
</div>
