<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <!-- AdminLTE -->
  <link rel="stylesheet" href="/dist/css/adminlte.min.css">
  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css">
</head>
<body class="hold-transition login-page">
<div class="login-box">
  <!-- /.login-logo -->
  <div class="card card-outline card-primary">
    <div class="card-header text-center">
      <div class="login-logo" style="margin-bottom: 0;"> <!-- Remover el margen inferior -->
        <a href="#"><b class="text-bold">Airlink</b> WISP</a>
      </div>
    </div>
    <!-- /.login-logo -->
    <div class="card-body login-card-body">
      {{> messages}} <!-- Aquí se incluirán los mensajes de error o éxito -->
      
      <img src="https://res.cloudinary.com/dldgicsdi/image/upload/v1729269371/img/login.webp" class="img-fluid mx-auto d-block elevation-1 login-image mb-3" alt="Login Image">
      
      <p class="login-box-msg">Ingresa tus credenciales</p>
      
      {{{body}}} <!-- El contenido del formulario de login se inyectará aquí -->
      
    </div>
    <!-- /.login-card-body -->
  </div>
</div>

<!-- jQuery -->
<script src="/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="/dist/js/adminlte.min.js"></script>
</body>
</html>
