<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema CPE Airlink</title>
    <link rel="stylesheet" href="/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
      <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    {{> messages}}
    <div class="wrapper">
        {{> navbar}} <!-- Partial de Navbar -->
        {{> sidebar}} <!-- Partial de Sidebar -->
        
        <div class="content-wrapper">
            {{{body}}} <!-- Aquí se inyecta el contenido de cada vista -->
        </div>

        {{> footer}} <!-- Partial de Footer -->
    </div>

    <!-- Scripts de AdminLTE y jQuery -->
    <script src="/plugins/jquery/jquery.min.js"></script>
    <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/dist/js/adminlte.min.js"></script>
    <script src="/plugins/sweetalert2/sweetalert2.all.min.js"></script>
    <script src="/js/index.js"></script>
</body>
</html>
